/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}


#mainContainer{
width: 80%;
 margin-left: auto;
 margin-right: auto;

}

.textBox{
    width: 20%;
    padding: 12px 20px;
    margin: 18px 0;    
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button{
	 display: inline-block;
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}




/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  margin: auto;
  margin-top : -20px;
  }

.dialogVPanel {
  width: 80%;
  margin: auto;
}

.myBox{
  margin: auto;	
}
.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
